include ./includes/nav.jade

div.container
	div.jumbotron
		h1 Time
		p Time is gold
	

	#alert-1.alert.fade(flash-alert='', active-class='in')
		span.alert-message {{flash.message}}

	button.btn.btn-default.btn-lg(ng-click="openRegisterModal('sm')", style="margin-right: 30px") Registrar Cliente	

